.mybutton{
  background-color:#008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body{
background-image: url("mybackground.jpg");


}